<div class="row">
	<div class="col-xs-12">
	</div>
</div>
		
<div class="space-4"></div>

<div class="row">
	<div class="col-xs-12">
		<form class="form-inline" method="post" action="{{urlfor "AgencyController.UnderlingAgency"}}">
			<input type="hidden" name="status" value="{{.status}}" />
			<input type="hidden" name="status" value="{{.id}}" />
			<div class="input-group input-group-sm">
				<input type="text" id="start_date" name="start_date" value="{{.startDate}}" class="form-control" />
				<span class="input-group-addon">
					<i class="ace-icon fa fa-calendar"></i>
				</span>
			</div>
			<div class="input-group input-group-sm">
				<input type="text" id="end_date" name="end_date" value="{{.endDate}}" class="form-control" />
				<span class="input-group-addon">
					<i class="ace-icon fa fa-calendar"></i>
				</span>
			</div>
			<div class="input-group input-group-sm">
				<button type="submit" class="btn">查询</button>
			</div>
		</div>
	</div>
		</form>
		<div class="space-4"></div>


		<table class="table table-striped table-bordered table-hover">
			<thead>
			<tr>
				<th>ID</th>
				<th>昵称</th>
				<th>代理</th>
				<th>筹码</th>
        <!--<th>累计充值(分)</th>-->
				<th>绑定时间</th>
			</tr>
			</thead>
      <tbody>
			{{range $k, $v := .list}}
				<tr>
					<td class="center">{{$v.Userid}}</td>
					<td>{{$v.Nickname}}</td>
					<td>{{if eq $v.Agency 1}}
          <span class="text-success bigger-110 yellow">是</span>
          {{else}}
          <span class="text-warning bigger-110 grey">否</span>
          {{end}}</td>
					<td>{{$v.Chipf}}</td>
          <!--<td>{{$v.Money}}</td>-->
					<td>{{date $v.Atime "Y-m-d H:i:s"}}</td>
					</td>
				</tr>
			{{end}}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="10">{{str2html .pageBar}}</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
