<html>
  <head>
    <title>index.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
	<style type="text/css">
	/* 手机等小屏幕手持设备 */
@media screen and (min-width: 100px) and (max-width: 800px) {
    .content {
		width:100%;
    }
}

/* PC客户端或大屏幕设备: 1028px 至更大 */
@media only screen and (min-width: 800px) {
    .content {
       
		margin:0 auto;
		width:600px;
    }
}
	</style>
	
  </head>
  
  <body onload="loading()" id="bodys">
    
    <div id="content" class="content">
	
<div style="text-align:center">“欢斗茶馆”加盟代理协议</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
欢迎注册/登录使用“欢斗茶馆”的代理后台系统（以下简称“系统”）。请在注册/登录本系统前仔细阅读“欢斗茶馆”代理合作协议的所有内容，特别是有关代理的义务的条款，以及免除、限制我方责任的条款。本协议是四川乐豆豆网络科技有限公司（下称“我方”）与《欢斗茶馆》馆主（或称“代理”）所约定的规范双方权利、义务关系的电子合同。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
如您对本协议任何内容有异议，请不要登录/使用本系统。当您登录或使用本系统相关服务时，则视为您已仔细阅读本协议所有内容，同意接受本协议的所有规定及我方相关政策的约束。</div>
<div>
一、定义</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
1、游戏玩家：又称玩家或“用户”，指授权使用“欢斗茶馆”游戏及服务的自然人。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
2、代理：指授权推广“欢斗茶馆”，并获取相应推广收益的自然人。</div>
<div>
二、合作内容</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
1、协助我方提升本游戏的玩家用户规模。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
2、为实现前述目的，代理可通过线下场所或线上渠道（Q群、QQ、贴吧、论坛、空间、微信、微博等）、自身人际关系、网络资源等各种合法方式和渠道，推广本游戏，我方将提供必要的支持和协助。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
3、为实现前述目的，双方将共同为本游戏做正面宣传，扩大本游戏的知名度和美誉度。</div>
<div>
三、代理账号</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
1、代理使用代理系统前需要注册一个代理账号（以下简称“账号”），该代理账号只能通过手机号注册，手机号即为登录名，注册并绑定游戏账号（如有）后不得变更。该代理帐号的所有权我方所有，代理仅获得帐号的使用权，且该使用权仅属于初始申请注册人。代理不得赠与、借用、租用、转让、售卖或以其他方式许可非初始申请注册人使用。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
2、代理应该妥善保管帐户信息及帐户密码的安全，用户需要对注册帐户以及密码下的行为承担法律责任。如因代理疏忽导致账户被盗，由此造成的一切损失均由代理本人承担。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
3、在本协议终止后，我方有权收回代理账号。代理连续180天未登陆代理后台的，视为代理已通过停止使用代理系统及服务的方式终止了本协议。由此产生的一起法律后果均由代理本人承担。</div>
<div>
四、代理的权利和义务<div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
1、代理有权参与我方组织的市场推广活动，并从我方获得相应的推广收益。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
2、官方未授权情况下，代理不享有本游戏在任何区域的独家合作资格。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
3、在合作推广过程中，代理的任何行为均不得包含有虚假、诱骗、违反国家法律法规的内容，也不得做出有悖于我方对外公布的相关公告、协议内容的承诺或行为，不得通过组织、参与违法活动来追求业绩。如有发现，你方独自承担一切法律后果，且我方有权向国家有关机关做举报。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
4、代理有义务积极维护和宣传我方的品牌、业务和政策，不煽动、不参与任何形式的不利于我方品牌、业务、政策的活动。你方不可假冒和改变我方的商标、标志、商业信息等，不得故意造成与我方产品或服务的混淆，不得以我方公司或员工名义对外从事任何活动。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
5、代理须保证在进行本游戏推广之前已经获得线上或者线下场所的许可，并遵守相应的线上线下法律规章制度，否则由此产生的纠纷和可能导致的一切责任由代理本人承担；代理理解并同意我方对此免责。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
6、代理理解并认可，代理在注册和使用本系统过程中所提供的个人资料及相关信息是我方判断你方身份的重要依据，你方应根据要求尽可能提供详尽的信息，并确保信息的完整性、合法性和真实性。如代理提交的资料有任何变动，必须在本系统中及时更新,必要时以电话或邮件形式告知我方管理人员，以保证其资料准确性。如果代理不能提供准确完整的个人信息、未及时更新相关信息或者提供相关的资料，将导致我方无法准确判断代理的身份，从而影响到推广收益发放等操作。因此给代理造成的损失，我方不承担任何责任。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
7、如因代理提交的信息资料不真实、不准确、不完整、不合法从而导致我方作出错误判断、遭受直接或间接经济损失的，我方有权立即取消该代理的资格并追究代理的法律责任。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
8、代理仅能依据本协议约定的内容，从事本游戏的推广活动，不得将本协议约定的权利、义务转让给任何第三方，不得擅自委托第三方从事本游戏的推广行为。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
9、代理拥有自主的权利，可单方面随时决定终止与我方的合作、代理决定单方便终止本协议的，应立即停止使用系统及相关服务。如我方对本协议内容或相关服务等作出任何变更，而代理不同意有关变更内容的，代理应立即停止使用系统及相关服务，代理继续使用系统及相关服务的行为，视为代理同意我方的变更。
</div>
<div>
五、我方的权利和义务</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
1、我方会对代理提交的注册信息和资料进行及时审核，并有权根据我方《代理资格审核标准》，做出通过或不通过的决定。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
2、我方有权了解代理的推广情况，获得与代理信息和推广业绩相关的必要的资料、数据和有关证据。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
3、我方会根据代理的推广业绩和我方《代理政策》计算代理应得推广收益并显示至系统中，代理可随时在根据系统的结算规则进行结算。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
4、我方将通过系统公告、电话、微信、电子邮件等方式，将最新的公司政策（包括但不限于推广活动、优惠政策、代理政策等）下发给代理。代理有义务遵守、配合公司的各项政策。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
5、我方有权根据实际需要随时修改本协议，并通过公告、微信或邮件等形式公布，修改自公告公布之日、或消息送达代理邮箱之日起生效。代理如有异议，代理应立即停止使用系统及相关服务，代理继续使用系统及相关服务的行为，视为代理同意我方的修改。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
6、我方有权单方随时变更、中断或终止本系统及相关服务，且不需对玩家或任何第三方承担违约责任。除本协议另有约定外，我方将以系统公告、电话、短信、系统消息或者电子邮件方式通知代理。终止合作通知自发出之时即视为送达。如因代理资料中登记的联络方式不正确、不完整或者不真实而导致联络失败的，我方无需对因此导致的任何损失或损害承担法律责任。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
7、我方将竭力保证本游戏相关系统和数据的稳定，但因技术问题或第三方原因导致产品宕机、数据丢失等问题，我方不向代理或其他第三方承担赔偿、补偿的法律义务。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
8、尊重个人隐私是我方的重要政策。在未经授权的情况下，我方不会公开或向第三方透露代理在申请时提交的个人资料。但如根据法律规定或政府有权部门的有效命令，或在以下三种情况下，我方可不经授权而向相关部门或第三方公开或透露代理的个人信息：
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
(1) 在紧急情况下维护代理个人、第三人或社会大众的财产或人身安全；</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
(2) 保持、维护我方的知识产权或其它合法权益;</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
(3) 根据本游戏服务的相关规则、制度、条款，应当公开或披露的。</div>
<div>
六、代理行为规范</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
1、代理收益来源于游戏玩家在游戏平台的消费金额，代理应该采用合法、适当的手段提升自身业绩。代理具体的收益标准以我方《代理政策》为准。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
2、代理不得为了自身业绩利用游戏平台开展、组织、参与赌博或变相赌博。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
3、代理不得与玩家私下进行交易，玩家应该且只能通过游戏平台渠道进行充值。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
4、游戏平台不提供任何回购、兑换虚拟货币或游戏币、游戏道具、积分的服务，代理不得开展或变相开展前述服务。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
5、代理不得盗刷或倒卖、变相倒卖虚拟货币、游戏币、游戏积分或其他游戏道具。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
6、代理不得或串通、示意、教唆玩家作弊、使用外挂软件，破坏游戏的公正、有序。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
7、代理不得私自收取玩家费用，包括但不限于额外收取服务费用、收取玩家手续费等情形。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
8、代理不得通过给游戏玩家发放现金红包等直接或间接返利等不正当方式，提升玩家活跃度。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
9、代理开展推广活动中，不得发布、传送、传播、储存违反国家法律、危害国家安全统一、社会稳定、公序良俗、社会公德以及赌博、宣扬迷信、邪教、赌博、侮辱、诽谤、淫秽或含有任何性或性暗示的、暴力的内容。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
10、代理开展推广活动中，不得发布、传送、传播、储存侵害他人名誉权、肖像权、个人隐私、个人信息或资料、知识产权、商业秘密等合法权利的内容。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
11、代理不得骚扰、辱骂游戏玩家，或则在推广活动中发表、传送、传播骚扰、广告信息及垃圾信息。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
12、代理在推广活动中不得明示或者暗示可以提供回购、兑换虚拟货币或游戏币、游戏道具、积分的服务。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
13、代理不得或串通、示意他人对甲方游戏发起流量攻击等破坏游戏稳定的行为。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
14、代理不得同时代理其他同类游戏。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
15、代理不得有其他违反法律法规、政策、公序良俗、社会公德或干扰甲方网络游戏正常运营、侵犯其他用户或第三方合法权益的行为。</div>
<div>
七、声明</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
1、我方与代理在此声明：双方不会因根据本协议产生的合作，构成任何形式的劳动合同关系或劳务关系。代理不隶属于我方，不受我方内部规章制度的约束。我方不承担代理的任何费用，包括但不限于因代理自身开展推广活动所产生的成本、社会保险、福利和医疗保险费用等。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
2、我方与代理共同在此声明：代理无权代表我方对外缔结合同。代理未经我方允许不得以我方名义开展任何形式的活动、宣传或者从事违法犯罪，否则一切后果由代理自行承担，我方保留追究其法律责任的权利。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
3、代理声明并保证，其为具备完全民事行为能力，且能独立履行本协议并承担相应责任的成年人。</div>
<div>
八、不可抗力</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
1、一方因不可抗力不能履行本协议的，根据不可抗力的影响，可以部分或者全部免除违约责任。但一方迟延履行后发生不可抗力的，不能免除责任。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
2、一方因不可抗力不能履行本协议的，应当及时通知对方，以减轻可能给对方造成的损失，并在合理期限内提供证明。未及时通知的，对因迟延通知而造成的扩大损失依然承担赔偿责任。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
3、一方因不可抗力不能履行本协议的，但尚未造成对本协议根本违约的，另一方应该在履约时间上给予对方适当的宽限；如果因不可抗力导致不能实现本协议目的的，双方均有权解除本协议。</div>
<div>
九、协议的生效和终止</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
下列情形之一出现时，本协议终止：</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
（1）本协议约定的合作期限届满；</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
（2）本游戏终止运营；</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
（3）在本协议有效期内，代理被依法追究刑事责任的，我方将有权单方面终止本协议；</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
（4）其他按照法律规定以及本协议约定的终止情况；</div>
<div>
十、其他约定</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
1、本协议未尽事宜，可由双方另行签订补充协议予以明确。补充协议的内容与本协议的内容有冲突的，优先适用补充协议的规定。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
2、代理与我方在合作中产生的争议，应当友好协商解决；协商不成的，任何一方均有权向我方所在地有管辖权的法院提起诉讼。</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
3、游戏规则、游戏运营规则、代理政策、游戏公告等与游戏相关的一切规范，均为本协议的组成部分，代理受到所有内容的约束。以上规范将通过游戏公告、游戏官网或其他适当的方式告知代理，代理应该注意查看相关内容，如有异议，应当立即停止使用系统及服务，终止本协议。代理如使用系统及服务的，视为接受。
</div>



		
    </div>
  </body>
</html>
