<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<base href="/" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width,  target-densitydpi=device-dpi">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="keywords" content="汇银棋牌，汇银娱乐，百度棋牌休闲游戏，棋牌游戏，休闲游戏，斗牛，斗地主，德州扑克，扑克，地方特色打法。" />
<meta name="description" content="汇银娱乐为玩家提供最火爆的全网最公平公正的棋牌休闲游戏。" />
<link href="assets/poster/css/poster.css" type="text/css" rel="stylesheet">
<title>汇银娱乐</title>
<link rel="icon" href="assets/poster/images/logo.png" type="image/x-icon" />
<link rel="shortcut icon" href="assets/poster/images/logo.png" type="image/x-icon" />
<script>
        !function(){
            function a(){
                document.documentElement.style.fontSize = document.documentElement.clientWidth/16+"px";
            }
            var b= null;
            window.addEventListener("resize", function(){
                clearTimeout(b);
                b=setTimeout(a,10)
            },!1);
            a();
        }(window);
    </script>
</head>
<body>


<div class="center">
<div class="conlogo">
<div class="logo"><img src="assets/poster/images/logo.png"> </div>
<div class="conlga">
<span class="conlgk">汇银娱乐</span>
<span class="conlgl">万人在线 激情不断</span>
</div>
<div class="conlgb appdown"><a href="javascript:void(0);" class="download">立即下载</a></div>
</div>
<div class="cenad"></div>
<div class="cenaz">
<div class="conh1"></div>
<div class="conh2">邀请码 : 888888
<p>版本号 : v1.6.0</p>
<p> 更新日期 : 2018.03.09</p>
<p> 软件大小 : 23.5M</p>
</div>
</div>
<div class="condw">
<li class="appdown"><a href="javascript:void(0);" class="download condwan"></a></li>
<li class="appdown"><a href="javascript:void(0);" class="download condwip"></a></li>
</div>
<div class="comyin">
</div>
<div class="foort">

<p class="banquan"></p>
</div>
</div>
</div>
</div>

<div id="weixin-tip"><p><img src="assets/poster/images/live_weixin.png" alt="微信打开"/><span id="close" title="关闭" class="close">×</span></p></div>
<script src="assets/poster/js/jquery-1.9.0.min.js"></script>
<script src="assets/poster/js/poster.js"></script>
</body>
</html>
