<div class="row">
	<div class="col-xs-12">
	</div>
</div>
		
<div class="space-4"></div>

<div class="row">
	<div class="col-xs-12">
		<form class="form-inline" method="post" action="{{urlfor "LoggerController.AccountingList"}}">
			<input type="hidden" name="status" value="{{.status}}" />
			<div class="input-group input-group-sm">
				<input type="text" id="start_date" name="start_date" value="{{.startDate}}" class="form-control" placeholder="开始时间" />
				<span class="input-group-addon">
					<i class="ace-icon fa fa-calendar"></i>
				</span>
			</div>
			<div class="input-group input-group-sm">
				<input type="text" id="end_date" name="end_date" value="{{.endDate}}" class="form-control" placeholder="结束时间" />
				<span class="input-group-addon">
					<i class="ace-icon fa fa-calendar"></i>
				</span>
			</div>
			<div class="input-group input-group-sm">
				<button type="submit" class="btn">查询</button>
			</div>
		</div>
	</div>
		</form>
		<div class="space-4"></div>


		<table class="table table-striped table-bordered table-hover">
			<thead>
			<tr>
				<th>时间</th>
				<th>玩家剩余筹码</th>
				<th>投注额</th>
        <!--<th>总充值</th>-->
				<!--th>抽佣总数</th-->
				<!--th>代理抽佣总数</th-->
				<th>当日总抽佣</th>
				<th>当日代理抽佣</th>
				<th>当日机器人盈亏</th>
				<th>当日系统盈亏</th>
			</tr>
			</thead>
      <tbody>
			{{range $k, $v := .list}}
				<tr>
					<td>{{date $v.DayStamp "Y-m-d H:i:s"}}</td>
					<td>{{$v.Chipsf}}</td>
					<td>{{$v.Betsf}}</td>
					<!--td>{{$v.Paysf}}</td-->
					<!--td>{{$v.AllFeef}}</td-->
					<!--td>{{$v.AgentAllFeef}}</td-->
					<td>{{$v.YesterdayFeef}}</td>
					<td>{{$v.YesterdayAgentFeef}}</td>
					<td>{{$v.RobotProfitsYesterdayf}}</td>
					<td>{{$v.SysProfitsYesterdayf}}</td>
					</td>
				</tr>
			{{end}}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="10">{{str2html .pageBar}}</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
