<div class="row">
  <div class="col-xs-12">
    <a href="{{urlfor "PlayerController.EnvAdd"}}" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> 添加设置</a>
  </div>
</div>

<div class="space-4"></div>

<div class="row">
  <div class="col-xs-12">

    <div class="tab-content">

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>名称</th>
            <th>状态或值</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {{range $k, $v := .list}}
          <tr>
            <td>{{$v.Name}}</td>
            <td>{{$v.Value}}</td>
            <td>
              <a href="{{urlfor "PlayerController.EnvDel" "key" $v.Key}}">关闭</a> |
            </td>
          </tr>
          {{end}}

        </tbody>
        <tfoot>
          <tr>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
</div>
