
<div class="alert alert-warning alert-dismissible hide" role="alert"></div>

<form class="form-horizontal ajax-form" method="post" action="{{urlfor "PlayerController.ShopAdd"}}">

  <div class="form-group">
    <label for="status" class="col-sm-2 control-label">物品状态</label>
    <div class="col-sm-3">
      <select name="status">
        {{range $k,$v := .types1}}
        <option value="{{$k}}" {{if eq $k 1}}selected{{end}}>{{$v}}</option>
        {{end}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="propid" class="col-sm-2 control-label">购买物品</label>
    <div class="col-sm-3">
      <select name="propid">
        {{range $k,$v := .types2}}
        <option value="{{$k}}" {{if eq $k 1}}selected{{end}}>{{$v}}</option>
        {{end}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="payway" class="col-sm-2 control-label">支付方式</label>
    <div class="col-sm-3">
      <select name="payway">
        {{range $k,$v := .types3}}
        <option value="{{$k}}" {{if eq $k 1}}selected{{end}}>{{$v}}</option>
        {{end}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="atype" class="col-sm-2 control-label">分包类型</label>
    <div class="col-sm-3">
      <select name="atype">
        {{range $k,$v := .types4}}
        <option value="{{$v}}" {{if eq $k 0}}selected{{end}}>{{$v}}</option>
        {{end}}
      </select>
    </div>
  </div>

	<div class="form-group">
		<label for="id" class="col-sm-2 control-label">商品ID</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="id" name="id">
		</div>
	</div>

	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">物品名称</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="name" name="name">
		</div>
	</div>

	<div class="form-group">
		<label for="number" class="col-sm-2 control-label">购买数量</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="number" name="number">
		</div>
	</div>

	<div class="form-group">
		<label for="price" class="col-sm-2 control-label">支付价格</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="price" name="price">
		</div>
	</div>

  <div class="form-group">
    <label for="end_date" class="col-sm-2 control-label">过期时间</label>
    <div class="col-sm-3">
      <input type="text" id="end_date" name="end_date" class="form-control" />
    </div>
  </div>
	
	<div class="form-group">
		<label for="info" class="col-sm-2 control-label">商品描述</label>
		<div class="col-sm-5">
			<textarea name="info" id="info" class="form-control" rows="6"></textarea>	
		</div>
	</div>

	<div class="clearfix form-actions">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
			<a href="{{urlfor "PlayerController.ShopList"}}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
		</div>
	</div>
</form>
